//
// This file contains styles that are specific to the home page.
//

  .inbox-wrapper{
    overflow-y: scroll;
      box-shadow: 0px 1px 3px rgb(116 116 116 / 17%);
  }
 
  .filter-box{  
  min-height:toRem(61px);
    & .select-box{            
        &:after{
          position: absolute;
          content: url('../../assets/drop-dwn.svg');
          right: 0;
          top: 45%;
          transform: translate(0, -50%);
        }
    }
    & ul.switcher{
        
      & a{             
        line-height: toRem(30px);
      }
      & li.active a{
        background-color: $dark;      
       // -webkit-transform: all 0.5s ease-in-out;
       
        & img{
          filter: brightness(100);
        }
      }
    }
  }
  

  .filter-round {   
    background: #dfe4f6;
    cursor: pointer;
    font-size: toRem(11px);
    content: url(../../assets/filter-black.svg);
  }
  .filter-round-active {   
    background: #000;
    cursor: pointer;
    font-size: toRem(11px);
    content: url(../../assets/filter-white.svg);
  }
  .card{    
  
    &:hover{     
     cursor: pointer;
    }    
    &-active{
      background: #ebefff;
      &:before{
        position: absolute;
        left: toRem(7px);
        top: toRem(46px);
        content: "";
        width: toRem(8px);
        height: toRem(8px);
        border-radius: 50%;
        display: block;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #7165ff;
      }
    }   
  }
 
  .chat-widget{
   
    border: toRem(1px) dotted $widget-blue;
  }
  .chat-whatsapp{
    border: toRem(1px) dotted $whatsapp-green;
  }
  .chat-fb{
    border: toRem(1px) dotted $fb-blue;
  }
 
 
  .dropdown-menu{
    border: none;
    box-sizing: border-box;
    box-shadow: -5px toRem(4px) toRem(55px) rgb(0 0 0 / 44%);
    border-radius:toRem(5px);
    padding: toRem(11px) 0;
    min-width: toRem(250px);
    font-size: toRem(13px);
  }
  .dropdown-response-filter{
    min-width: toRem(300px);
  }
  .dropdown-item:hover {
    background: $chat-blue;
    color: $blue-badge;
}
  //panel right
 
    .box-grey{
     
      &-footer{       
        border: 1px solid #CAD3F3;
       
      }
    }

 
  .collapseicon-right{
    right: toRem(15px);
    top: toRem(15px);
      img{
        width: toRem(25px);
      }
  }
  
    .accordion-custom-right{
       & .accordion-button:not(.collapsed) {
            color: transparent;
            background-color:#fff;
            box-shadow: none;
        }

    }
    .fw-500{
      font-weight: 500;
    }
    .fw-800{
      font-weight: 800;
    }
    .fs-11{
      font-size: toRem(11px);
    }
    .fs-12{
      font-size: toRem(12px);
    }
    .fs-9{
      font-size: toRem(9px);
    }
    .fs-14{
      font-size: toRem(14px);
    }

.avatar{
  background: url('../assets/avatar.jpg') no-repeat center/cover;
  user-select: none;
  vertical-align: middle;
}
.avatar-conv{
  background: url('../assets/conv-icon.svg') no-repeat center/cover;
  user-select: none;
  vertical-align: middle;
}
.border-green{
  border: 1px solid #24A803;
}


.floating-box {
  bottom: 70px;
  position: absolute;
  right: 500px;
}

.dropdown-resolve li a:hover{
  color: $blue-active;
  background:transparent !important;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.modal-dialog-right {
  margin-right: 50px;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.resolve-modal {
  & .nav-resolve-tab {
    border: 1px solid #c3cee9;    
  }
  & .nav-resolve-tab.active {
    background-color:  $blue-active;
    border: 1px solid $blue-active;
    color:#fff !important;
  }

 
}

.search-results.active {
  background: #5D57E3 !important;
  color: #fff !important;
}

