//
// This file contains styles that are specific to the home page.
//

.wrapper{
    padding-left: toRem(55px);
    margin-top:toRem(65px);
    @media (max-width:  767.98px) {
      padding-left: 0;
      margin-top:toRem(80px);
    }
  }
  
  
  .panel-left{
    height: 100%;
   
  }
  
  .inbox-wrapper{
    overflow-y: scroll;
     // height: calc(100vh - 260px);
      border-radius: toRem(5px);;
      background-color: #fff;
      box-shadow: 0px 1px 3px rgb(116 116 116 / 17%);
  }
  .bdr-blue{
    border-color: #3360FF;
  }
  
  .bdr-grn{
    border-color: #24A803;
  }
  
  .filter-box{
    background-color: var(--gs-bg-white);
    box-shadow: 0px 1px 3px rgba(116, 116, 116, 0.17);
  border-radius: toRem(8px);
  min-height:toRem(61px);
    & .select-box{
      color: var(--gs-primary-color);
      text-decoration: none;
      padding-right: toRem(20px);
      position: relative;
      font-weight: var(--gs-font-500);
      font-size: toRem(13px);
        i.count{
        font-style: normal;
        width: toRem(21px);
        height: toRem(21px);
        background-color: var(--gs--notification-badge);
        border-radius: 50%;
        display: inline-block;
        color: #fff;
        text-align: center;
        font-size: toRem(12px);
        line-height: 21px;
        margin-left: toRem(10px);
        }
        &:after{
          position: absolute;
          content: url('../../assets/drop-dwn.svg');
          right: 0;
          top: 45%;
          transform: translate(0, -50%);
        }
    }
    & ul.switcher{
      width: toRem(65px);
      height: toRem(30px);
      border-radius: toRem(50px);
      background: #ebf0f4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: toRem(2px);
      & a{
        width: toRem(30px);
        height: toRem(30px);
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: toRem(30px);
      }
      & li.active a{
        background-color: #000;
      
       // -webkit-transform: all 0.5s ease-in-out;
       
        & img{
          filter: brightness(100);
        }
      }
    }
  }
  
  .custom_search{
    position: relative;
      input{
          background-color: #E1E3EE;
          border-radius:toRem(7px);
          height: toRem(43px);
          line-height: toRem(43px);
          border: none;
          font-size: toRem(14px);
          &:focus{
            box-shadow: none;
            background-color: #d9dbe7;
          }
      }
      button{
       background: none;
       border: none;
       position: absolute;
       right: toRem(10px);
       top: toRem(10px);
       z-index: 10;
      }
  }
  .custom_search-sidebar{
    height:toRem(43px);
    border-radius: toRem(7px);
  }
  .filter-round {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dfe4f6;
    border-radius: toRem(20px);
    cursor: pointer;
    font-size: toRem(11px);
    gap: toRem(5px);
    content: url(../../assets/filter-black.svg);
    padding: toRem(4px);
  }
  .filter-round-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: toRem(20px);
    cursor: pointer;
    font-size: toRem(11px);
    gap: toRem(5px);
    content: url(../../assets/filter-white.svg);
    padding: toRem(4px);
  }
  .card{
    background: var(--gs-bg-white);
    padding: toRem(20px);
    border-radius: toRem(6px);
    font-size: toRem(14px);
    border: none;
    position: relative;
    &:hover{
     
     cursor: pointer;
    }    
    &-active{
      background: #ebefff;
      &:before{
        position: absolute;
        left: toRem(7px);
        top: toRem(46px);
        content: "";
        width: toRem(8px);
        height: toRem(8px);
        border-radius: 50%;
        display: block;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #7165ff;
      }
    }
    &-avatar{
        position: relative;
        height: toRem(38px);
          & span.image{
              width: toRem(38px);
              height: toRem(38px);
              border-radius: 50%;
              display: block;
              overflow: hidden;
              border: 1px solid ;
          }
          & i{
              width: toRem(19px);
              height: toRem(19px);
              border-radius: 50%;
              position: absolute;
              bottom: -4px;
              right: -5px;
              background-color: var(--gs-bg-white);
              text-align: center
          }
    }
  
    &-name{
      font-size: toRem(13.5px);
      font-weight: 500;
      display: block;
      color: var(--gs-primary-color);
    }
    &-message{
        color: #7B7B7B;
        font-size: toRem(13px);
        margin-top: 6px;
        display: block;
    }
    &-status{
        color: #596781;
        font-size: toRem(13px);
    }
    &-circle-org{
      width: toRem(7px);
      height: toRem(7px);
      background: var(--gs-blue);
      border-radius: 50%;
      display: block;
    }
    &-time{
      font-size: toRem(12px);
  line-height: toRem(18px);
  font-weight: 400;
  color: #596781;
  
    }
    &-open{
        color: #4F80FF;
        background-color: rgba(42, 139, 242, .26);
        font-size: toRem(12px);
        border-radius: toRem(20px);
        padding:toRem(5px) toRem(10px);
        font-weight: 600;
    }
    &-round{
      display: flex;
      flex-wrap: nowrap;
    }
  
    &-holder{
      display: flex;
      align-items: center;
      justify-content: center;
     
      border-radius: 50%;
      background: #E6E5FF;
    }

    &-holder-sm{
        width: toRem(40px);
        height: toRem(40px);
    }
    &-holder-md{
        width: toRem(40px);
        height: toRem(40px);
    }
    &-holder-lg{
        width: toRem(75px);
        height: toRem(75px);
    }
    &-user-sm{
        width: toRem(18px);
        height: toRem(16px);
    }
    &-user-md{
        width: toRem(40px);
        height: toRem(40px);
    }
    &-user-lg{
        width: toRem(35px);
        height: toRem(31px);
    }
    
  }
  .gs-welcome {
    height: calc(100vh - 100px);
}
  .card-chat-medium{
    
    background: transparent;   
    border-radius: toRem(50px);
    padding: toRem(3px) toRem(6px) toRem(3px) toRem(4px);
    font-weight: 400;
    font-size: toRem(12px);
    display: inline-flex;
    align-items: center;
    color: #596781;
  }
  .chat-widget{
   
    border: toRem(1px) dotted #605E9D;
  }
  .chat-whatsapp{
    border: toRem(1px) dotted #67ac55;
  }
  .chat-fb{
    border: toRem(1px) dotted #6174A4;
  }
  span.loading{
      text-align: center;
      display: block;
    &:before{
      width: toRem(18px);
      height: toRem(18px);
     // content: url(../images/loading.svg);
      vertical-align: middle;
      margin-right: toRem(10px);
    }
  }
  .text-loader{
    color:#8D42E9 !important;
  }
  .dropdown-menu{
    border: none;
    box-sizing: border-box;
    box-shadow: -5px toRem(4px) toRem(55px) rgb(0 0 0 / 44%);
    border-radius:toRem(5px);
    padding: toRem(11px) 0;
    min-width: toRem(250px);
    font-size: toRem(13px);
  }
  .dropdown-response-filter{
    min-width: toRem(300px);
  }
  .custom-search-sidebar{
    & .input-group-text {
      height: toRem(43px);
    }
    & .search-input {
      height: toRem(43px);
    }
  } 
  

  
 
  
  
  //panel right
 
    .box-grey{
      background: #FFFFFF;
      box-shadow: 0px toRem(1px) toRem(3px) rgba(116, 116, 116, 0.17);
    padding: toRem(25px);
    border-radius: toRem(8px);
    font-size: toRem(13px);
    border: none;
    position: relative;
    margin-bottom: toRem(15px);
    overflow: hidden;
    
      &-avatar{
          position: relative;
          height: toRem(50px);
            & span.image{
                width: toRem(50px);
                height: toRem(50px);
                border-radius: 50%;
                display: block;
                overflow: hidden;
            }
      }
      &-name{
          font-weight: 500;
          display: block;
          margin-bottom: toRem(6px);
      }
      &-location{
          font-size: toRem(14px);
          font-weight: 500;
          display: block;
      }
      &-footer{
        background: #FFFFFF;
        border: 1px solid #CAD3F3;
        border-radius: toRem(8px);
        padding:toRem(10px);
          label{
            color: var(--gs-secondary-color);
          }
      }
    }
  
  
  .acc-card{
    background: #fff;
    padding: toRem(10px);
    border-radius: toRem(8px) !important;
    font-size: toRem(13px);
    border: none;
    position: relative;
    margin-bottom: toRem(15px);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
    
    &-ico-cvr{
       
        border-radius: toRem(4px);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: toRem(10px);
    }
    &-conv{
      background: #EEF0F9;
      border-radius:toRem(6px);
      padding: toRem(15px);
      margin-top: toRem(20px);
  
      
    }
  
    &-head{
      color: #333;
      font-weight: 500;
      display: block;
      font-size: toRem(14px);
    }
    & a.cntrl{
      width: toRem(16px);
      height:  toRem(16px);
      border-radius: 50%;
      border:  toRem(1px) solid #555555;
      display: block;
      text-align: center;
      line-height:  toRem(6px);
      cursor: pointer;
      &:before{
      content: url(../../img/plus2.svg);    
      line-height:  toRem(14px);
      }
    }
    &.in a.cntrl{
      &:before{
        content: url(../../img/minus.svg);
        line-height: 0px;
        }
    }
    &-content{
      padding:  toRem(15px);
      & label{
          color: var(--gs-secondary-color);
      }
     
        & .yllw-ico{     
          background-color: #FFB800;
          width:  toRem(41px);
          height: toRem(30px);
          border-radius: toRem(4px);
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right:  toRem(10px);
          padding: 0;
      }
    
    & .open{
      color: #4B7EFE;
      background: #DDE7FF;
      border-radius:  toRem(6px);
        font-size:  toRem(12px);
  padding: toRem(5px)  toRem(10px);
        font-weight: 600;
    }
    & .no-agent{
       
        display: flex;
        align-items: center;
        padding: toRem(5px)  toRem(10px);
        color:#555;
    }
    & .status-low{
        &:before{
          content: "";
          width: toRem(9px);
          height: toRem(9px);
          background-color: #FF7E36;
          border-radius: 50%;
          display: inline-block;
          margin-right: toRem(5px);
        }
    }
    }
  
  }
  .view-ticket{
    color: #2D50C8;
    font-weight: 500;
  }
  .profile-pic{
    width: toRem(65px);
    height: toRem(65px);
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .profile-pic-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(75px);
    height: toRem(75px);
    border-radius: 50%;
    overflow: hidden;
    background: #E7E6FF;
  border-radius: toRem(50px);
  cursor: pointer;
  
  }
  .collpse-btn {
    position: absolute;
    right: toRem(15px);
    top: toRem(10px);
    img{
      width: toRem(25px);
    }
  }
  .collapseicon-right{
    position: absolute;
    right: toRem(15px);
    top: toRem(15px);
      img{
        width: toRem(25px);
      }
  }
  
  .accordion-collapse.open {
    color: #4B7EFE;
    background: #DDE7FF;
    border-radius: toRem(6px);
    font-size: toRem(12px);
    padding: toRem(5px) toRem(10px);
    font-weight: 600;
  }
  
  // user timeline
  .sidebar-timeline{
    & .user-history {
         min-height: 4rem;
         position: relative;
     }
   &  .user-history::before {
         content: "";
         position: absolute;
         left: -32px;
         top: toRem(8px);
         color: #ffffff;
         background-color: #4b7efe;
         width: toRem(10px);
         height: toRem(10px);
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
     }
     
     
     
    & .user-history::after {
         content: "";
         position: absolute;
         left: -2.125rem;
         top: 1.375rem;
         background-color: #C3CEE9;;
         width: 0.0625rem;
         height: calc(100% + 0.3rem);
     }
     
    & .user-date::before{
         content: "Jan, 21, 2022";
         position: absolute;
         left: -40px;
         top: -9px;
         background: #DCE4FF;
     border-radius: toRem(20px);
     font-weight: 500;
     color:#333;
     padding: toRem(4px) toRem(10px);
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         
     }
    & .user-date::after {
         content: "";
         position: absolute;
         left: -2.125rem;
         top: 1.375rem;
         background-color: #C3CEE9;;
         width: 0.0625rem;
         height: calc(100% + 0.3rem);
     }
     
    & .user-history-end::after{
         content: none;
     
     }
    & .user-timeline {
         margin-left: 2.8125rem;
         position: relative;
     }
    & .user-action {
         display: flex;
         flex-direction: row;
         gap: 1rem;
         align-items: baseline;
         padding: 1.25rem;
         margin-top: 0.9375rem;
     }
  
    }

    .accordion-custom-right{
       & .accordion-button:not(.collapsed) {
            color: transparent;
            background-color:var(--gs-bg-white);
            box-shadow: none;
        }

    }
   //right
   