
// .SideNavMobile{
//   display: none;
//   @media (max-width:  767.98px) {
  
//   }
// }


.left-navbar{
    width:toRem(65px);
    height: 100vh;
    @media (max-width: 575.98px) {
                width: toRem(50px);
      }
}

.bg-dark-nav{
    background:var(--gs-side-navbar-bg);
 }
 
 .page {
   display: flex;
   flex-direction: column;
   position: relative;
   min-height: 100%;
 }
 .nav-item a {
             display: inline-block;
             padding: 0;
             text-align: center;
             line-height: 40px;
             text-decoration: none;
             border-radius: 8px;
             width: 40px;
             height: 40px;
             display: flex;
             align-items: center;
             justify-content: center;
             margin: 0 auto;
             @media (max-width: 767.98px) {  
              width: 100%;
              align-items: center;
              justify-content: start;
              gap:toRem(20px);
              color: var(--gs-bg-white);
              padding: toRem(20px);
             }
             &:hover{
               background-color: var(--nav-active);
             }
             &.active{
                background-color: var(--nav-active) !important;
             }
           }  
                   
.nav-logo:hover{
    background-color: transparent !important;

}
 
   .divider{
     border-bottom: 1px solid rgba(255, 255, 255, 0.12);
   }
   