//
// This file contains all application-wide Sass variables.
// You can also override Bootstrap's Sass default variables.
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can change
// `$body-color` instead of writing more CSS that override's
// Bootstrap's CSS like so:
//      `body { color: red; }`.
//
// Refer Bootstrap's variables file found at for the list of variables:
//      `node_modules/bootstrap/scss/_variables.scss`
//



    //colors
        $primary-color: #333333;
        $secondary-color: #555555;
        $dark-blue: #1E1E38;
        $red:#D21E1E;
        $light-green:#00B27D;
        $blue:#157EFB;
        $blue-link: #4a6ada;
        $blue-active:#645DF6;
        $blue-badge:#2D50C8;
        $light-blue:#e6e5ff;
        $body-bg: rgb(235, 236, 241);
        $border-color: #BCBFD0;
        $cyan-blue: #EBF0F4;
        $border-input:#AFB5BF;
        $dark:#000000;
        $light-dark:#222222;
        $light-blue:#EFEBFF;
        $light-grey:#d9d9d9;
        $light-yellow:#FFE2AB;
        $yellow:#FFB82E;
        $gray-blue: #8190B7;
        $chat-blue: #ebefff;
        $contrast-blue:#6174A4;
        $gray-medium:#7b7b7b;
        $mist-gray:#596781;
        $carbon-gray:#5e5e5e;


      
       // --gs-dark-blue: #1E1E38;
        // --nav-active: #645DF6;
        // --gs-bg-white: #fff;
        // --gs--notification-badge: #2D50C8;
        //--gs-secondary-light-blue:#DFE4F6;
        $theme-colors: (
            "primary":  $primary-color,
            "secondary":  $secondary-color,
            "danger":  $red,
            "dark": $dark,
            "light-blue": $light-blue
          );
        $custom-colors: (
            "blue":$blue,
            "dark-blue":   $dark-blue,   
            "border-color": $border-color,
            "blue-active": $blue-active,
            "blue-badge":  $blue-badge,
            "cyan-blue":  $cyan-blue,
            "border-input":  $border-input,
            "light-blue": $light-blue,
            "light-grey":$light-grey,
            "light-yellow": $light-yellow,
            "light-dark":  $light-dark,
            "yellow": $yellow,
            "gray-blue":  $gray-blue,
            "chat-blue":  $chat-blue,
            "gray-medium": $gray-medium,
            "mist-gray": $mist-gray,
            "carbon-gray":  $carbon-gray,
            "contrast-blue":  $contrast-blue
          );
         
    
          $utilities: (
  "Spacing": (
    responsive: true,
    class:p,
    property: padding,
    values: (
     6: 10rem,
     7: 15rem,
    )
  ),
  "Spacing-px": (
    responsive: true,
    class:px,
    property: padding,
    values: (
     6: toRem(10px),
    )
  ),
  "Spacing-ps": (
    responsive: true,
    class:ps,
    property: padding,
    values: (
     body-left: toRem(55px),
    )
  ),
  "Spacing-mt": (
    responsive: true,
    class:mt,
    property: margin-top,
    values: (
     65: toRem(65px),
     80: toRem(80px),
    )
  ),
  "Spacing-ms": (
    responsive: true,
    class:ms,
    property: margin-left,
    values: (
     65: toRem(66px),
    )
  ),
  "height": (
      property: height,
      class: h,
      values: (
        20: toRem(66px),
       
      )
    ),
    "width": (
      property: width,
      responsive: true,
      class: w,
      values: (
        100: 100%,
        nav: toRem(66px),
       nav-md: toRem(50px),
      )
    ),
    "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: (
      12: toRem(12px),
      )
    ),
);
