---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.jsx";

---

<Layout title="comm chat">
    <div class="wrapper ms-5 ms-md-0 ps-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 pe-lg-0 ">
                <div class="panel-left h-100 p-2 p-md-4 pb-5">
           
                    <div class="filter-box p-3  d-flex align-items-center">
                      <div class="select-box">
                        New <i class="count">1</i>
                      </div>
                      <div class="ms-auto me-4">
                        <ul class="switcher">
                          <li class="active"><a href="#"><img src="/assets/bag.svg"></a></li>
                          <li><a href="#"><img src="/assets/bag-in.svg"></a></li>
                        </ul>
                      </div>
          
                       <!--menu filter starts -->
                       <div class="dropdown more">
          
                        <div id="filter-button" class="filter-round" data-bs-toggle="dropdown" aria-expanded="false">
                          <div data-bs-toggle="tooltip" data-bs-placement="top" title="Filter" data-bs-original-title="Filter"
                            aria-label="Filter">
                          
                          </div>
                        </div>
          
                        <ul class="dropdown-menu dropdown-response-filter p-4 mt-2" id="dropdown-response-filter" aria-labelledby="dropdownMenuLink">
                          <div class="form-group">
                            <div class="d-flex flex-column gap-2">
                              <div class="sms-check mt-1">
                                <input type="checkbox" id="first-response">
                                <label class="dark-charcoal mb-3" for="first-response">First Response Due</label>
                              </div>
                              <div class="sms-check">
                                <input type="checkbox" id="response">
                                <label class="dark-charcoal mb-3" for="response">Response Due</label>
                              </div>
                              <div class="sms-check">
                                <input type="checkbox" id="no-response">
                                <label class="dark-charcoal mb-2" for="no-response">No Response Due</label>
                              </div>
          
                            </div>
                          </div>
          
          
                        </ul>
                      </div>
                      <!-- menu filter ends -->
                    </div>
                    <!--/.filter-box-->
                 
                    <div class="inbox-wrapper rounded mt-3">
                     
                    </div>
                  </div><!--/-panel-left-->

             </div>
             <!--/.col-3-->

             <div class="col-lg-9 ps-lg-0 mt-4 pe-4" >
           
              <div class="gs-welcome card ">
                <div class="d-flex justify-content-center align-items-center mt-5 flex-column">
                  <div>
                    <h4 class="fw-500 text-black">Welcome user!</h4>
                  </div>
    
    
                  <div class="mt-3 primary-color fw-400">Let’s click and see the conversations</div>
                  <div class="mt-5">
                    <img src="assets/welcome.svg" alt="">
                  </div>
                </div>
               </div>
          </div><!--/.col--9-->


                </div>
                </div>
                </div>
               
</Layout>
