//
// This file contains all styles related to the header of the site/application.
//

.hamberger{
  display:none;
  @media (max-width: 991.98px) {
    display:block;
    margin-right:toRem(15px);
  }
}


.header{      
    min-height: toRem(66px);
    width: calc(100% - toRem(65px));
    z-index: 2;
    @media (max-width: 991.98px) {
      width: 100%;
    }
    
 

 & .global-search::placeholder {
    color: #868686;;
    font-weight: 400;
    font-size: toRem(14px);
  }
  & .global-search {
    border: none;
    outline: none;
    width: toRem(100px);
    color: #868686;;
    font-weight: 400;
    font-size: toRem(14px);
    @media (max-width: 991.98px) {
      display: none;
    }

    &:focus {
      
      transition: width 0.2s ease-in-out;
      background: #ebecf1;
      border-radius: toRem(6px);
      width: toRem(350px);
      @media (max-width: 768px) {
        width: toRem(250px);
      }
    }
  }
 & .search-global-icon {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 0.25rem;
    height: 38px;
  }
  & .search-global-icon-bg {
    background: #ebecf1;
  }

 
  &-right-sec{
    font-size: toRem(13px);
    
    .notification{
      .dropdown-toggle{
        position: relative;
       &:after{
        content: none;
       }
       i.count{
        font-style: normal;
        width: 18px;
        height: 18px;
        background-color: #D21E1E;
        border-radius: 50%;
        display: inline-block;
        color: #fff;
        text-align: center;
        font-size: toRem(12px);
        line-height: 18px;
        position: absolute;
        right: -10px;
        top: -8px;
       }
      }
    }
    .social{
      .dropdown-toggle{
        position: relative;
       &:after{
        content: none;
       }
      }
    }
    
    .more{
      .dropdown-toggle{
        position: relative;
       &:after{
        content: none;
       }
      }
    }
  }
}

.nav-head{ 
  font-size: toRem(18px);
}

.progress-card{
  display: flex;
  align-items:center;
  @media (max-width: 767.98px) {
   display: none !important;
  }
}
.dropdown-menu-right{
  right: 0 !important;
  left: auto !important;
}