---
import LayoutWithoutMenu from "../../layouts/LayoutWithoutMenu.astro";

import Button from "../../components/common/forms/Button";
---

<LayoutWithoutMenu title="comm chat">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-5 mx-auto">
        <div class="d-flex rounded-top text-white px-5 py-4 bg-blue-active">
          <div
            class="d-flex mx-auto align-items-start align-items-md-center justify-content-center flex-column gap-2"
          >
            <div>
              <svg
                width="50"
                height="50"
                viewBox="0 0 50 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M45.1957 22.6616C44.983 20.5358 43.4951 18.6225 41.5817 17.9848C41.5817 17.347 41.5817 16.4967 41.369 15.6464C41.1565 13.5205 39.4559 11.6072 37.3301 11.1821C37.3301 10.7569 37.3301 10.1191 37.1174 9.48137C36.9049 6.71777 34.5663 4.59191 31.8028 4.37933C29.8895 4.37933 27.1259 4.16675 25.0001 4.16675C22.8742 4.16675 20.1106 4.37933 18.1974 4.37933C15.4337 4.59191 13.0953 6.71777 12.8827 9.48137C12.8827 10.1191 12.8827 10.5443 12.6701 11.1821C10.5443 11.8198 8.84362 13.5205 8.63104 15.6464C8.63104 16.4967 8.41846 17.347 8.41846 17.9848C6.50519 18.6225 5.22966 20.5358 4.8045 22.6616C4.59191 25.2127 4.16675 28.6141 4.16675 31.3777C4.16675 34.1412 4.59191 37.5427 4.8045 40.0937C5.01708 42.8573 7.35552 44.9831 10.1191 45.1956C14.3708 45.4083 20.3232 45.8335 25.0001 45.8335C29.677 45.8335 35.6293 45.4083 39.8811 45.1956C42.6447 44.9831 44.983 42.8573 45.1957 40.0937C45.4082 37.5427 45.8334 34.1412 45.8334 31.3777C45.8334 28.6141 45.4082 25.2127 45.1957 22.6616ZM18.41 7.78071C20.3232 7.78071 22.8742 7.5681 25.0001 7.5681C27.1259 7.5681 29.677 7.78071 31.5903 7.78071C32.8657 7.78071 33.7161 8.84362 33.9286 9.90654C33.9286 10.3317 33.9286 10.5443 33.9286 10.9695C31.1651 10.9695 27.7636 10.7569 25.0001 10.7569C22.2365 10.7569 18.8351 10.7569 16.0715 10.9695C16.0715 10.5443 16.0715 10.3317 16.0715 9.90654C16.2841 8.63104 17.1344 7.78071 18.41 7.78071ZM30.3147 30.5273L24.5749 34.7789C24.3624 34.9916 23.9372 35.2041 23.512 35.2041C23.0868 35.2041 22.8743 35.2041 22.449 34.7789L19.6855 32.6531C19.0477 32.2281 18.8351 31.165 19.4729 30.5273C20.1106 29.8895 20.9609 29.677 21.5986 30.3147L23.512 31.8029L28.1888 28.1889C28.8265 27.7637 29.8895 27.7637 30.3147 28.4014C30.7399 29.0391 30.9524 29.8895 30.3147 30.5273ZM25.0001 16.9219C20.9609 16.9219 15.8589 17.1344 11.8198 17.347C11.8198 16.9219 11.8198 16.4967 12.0324 15.8589C12.245 14.796 13.0953 13.9457 14.3708 13.9457C17.5596 13.7331 21.8113 13.7331 25.2126 13.7331C28.614 13.7331 32.8657 13.9457 36.0545 13.9457C37.3301 13.9457 38.1803 14.796 38.393 15.8589C38.393 16.2841 38.6055 16.9219 38.6055 17.347C34.1413 17.347 29.0392 16.9219 25.0001 16.9219Z"
                  fill="white"></path>
              </svg>
            </div>
            <h5 class="text-white fs-4 mt-3">Meeting Confirmed!</h5>
            <p class="text-white fs-3 fw-500">Meeting with Steven Paul</p>
          </div>
          <div>
            <svg
              width="66"
              height="72"
              viewBox="0 0 66 72"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M62.1429 70.7757H3.85718C2.50461 70.7757 1.4082 69.6793 1.4082 68.3267V25.2798H64.5919V68.3267C64.5919 69.6793 63.4955 70.7757 62.1429 70.7757Z"
                fill="white"></path>
              <path
                d="M22.1021 1.22461H14.5103V13.9593H22.1021V1.22461Z"
                fill="#1E1E38"></path>
              <path
                d="M55.1633 7.59204V17.6329H40.2245V7.59204H25.7756V17.6329H10.8368V7.59204H3.85718C2.50461 7.59204 1.4082 8.68845 1.4082 10.041V25.2798H64.5919V10.041C64.5919 8.68845 63.4955 7.59204 62.1429 7.59204H55.1633Z"
                fill="#1E1E38"></path>
              <path
                d="M51.4898 1.22461H43.8979V13.9593H51.4898V1.22461Z"
                fill="#1E1E38"></path>
              <path
                d="M14.5101 15.1837H22.102C22.7781 15.1837 23.3265 14.6353 23.3265 13.9592V1.22449C23.3265 0.548327 22.7781 0 22.102 0H14.5101C13.834 0 13.2856 0.548327 13.2856 1.22449V13.9592C13.2856 14.6353 13.834 15.1837 14.5101 15.1837ZM15.7346 2.44898H20.8775V12.7347H15.7346V2.44898Z"
                fill="#1E1E38"></path>
              <path
                d="M62.1428 6.36743H55.1632C54.4868 6.36743 53.9387 6.91576 53.9387 7.59192V16.4082H41.4489V7.59192C41.4489 6.91576 40.9008 6.36743 40.2244 6.36743H25.7754C25.0993 6.36743 24.5509 6.91576 24.5509 7.59192V16.4082H12.0611V7.59192C12.0611 6.91576 11.5128 6.36743 10.8367 6.36743H3.85706C1.83151 6.36743 0.183594 8.01535 0.183594 10.0409V25.2797V68.3266C0.183594 70.3522 1.83151 72.0001 3.85706 72.0001H62.1428C64.1686 72.0001 65.8163 70.3522 65.8163 68.3266V25.2797V10.0409C65.8163 8.01535 64.1686 6.36743 62.1428 6.36743ZM2.63257 10.0409C2.63257 9.36572 3.18188 8.81641 3.85706 8.81641H9.61217V17.6327C9.61217 18.3089 10.1605 18.8572 10.8367 18.8572H25.7754C26.4516 18.8572 26.9999 18.3089 26.9999 17.6327V8.81641H38.9999V17.6327C38.9999 18.3089 39.548 18.8572 40.2244 18.8572H55.1632C55.8396 18.8572 56.3877 18.3089 56.3877 17.6327V8.81641H62.1428C62.818 8.81641 63.3673 9.36572 63.3673 10.0409V24.0552H2.63257V10.0409ZM63.3673 68.3266C63.3673 69.0018 62.818 69.5511 62.1428 69.5511H3.85706C3.18188 69.5511 2.63257 69.0018 2.63257 68.3266V26.5042H63.3673V68.3266Z"
                fill="#1E1E38"></path>
              <path
                d="M43.8978 15.1837H51.4897C52.1661 15.1837 52.7142 14.6353 52.7142 13.9592V1.22449C52.7142 0.548327 52.1661 0 51.4897 0H43.8978C43.2214 0 42.6733 0.548327 42.6733 1.22449V13.9592C42.6733 14.6353 43.2214 15.1837 43.8978 15.1837ZM45.1223 2.44898H50.2652V12.7347H45.1223V2.44898Z"
                fill="#1E1E38"></path>
              <path
                d="M23.9584 59.4203C21.5762 59.4203 20.0331 58.5815 18.8924 57.1052L16.3425 60.2926C18.0536 62.3728 20.7039 63.5132 24.1261 63.5132C29.4269 63.5132 32.8489 60.8294 32.8489 56.6355C32.8489 53.5155 30.9703 51.1334 28.152 50.6637C30.7019 50.194 32.4127 47.8457 32.4127 45.1954C32.4127 41.6392 29.2925 39.2571 24.7636 39.2571C21.2743 39.2571 18.0201 40.6327 16.678 42.679L19.4963 45.8326C20.5364 44.1217 22.214 43.1485 24.2603 43.1485C26.2396 43.1485 27.6152 44.0544 27.6152 45.8661C27.6152 47.7785 26.0047 49.1539 23.2873 49.1539H22.2473V52.5088H23.1867C26.5416 52.5088 28.1856 53.8172 28.1856 56.132C28.1856 58.3466 26.676 59.4203 23.9584 59.4203Z"
                fill="#1E1E38"></path>
              <path
                d="M41.0014 44.3566V54.522H36.2374V58.5815H49.8586V54.522H45.5979V39.4248H41.0014C40.6324 40.1965 37.2104 42.6119 35.5667 42.6119V46.8058C37.3108 46.8058 40.2295 45.3966 41.0014 44.3566Z"
                fill="#1E1E38"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="bg-white px-5 py-4 rounded-end">
          <div class="d-flex align-items-start align-items-md-center mt-4 justify-content-evenly flex-column flex-md-row">
            <div class="d-flex flex-column">
              <div class="fs-3 text-primary">October 31, 2022</div>
              <div>
                <span class="fw-semibold text-primary fs-5">08:00 am</span><span
                  class="fs-5 text-secondary"
                >
                  15 minutes</span>
              </div>
            </div>
            <div class="d-flex flex-column mt-3 mt-md-0">
              <div class="text-secondary fs-5 fw-normal">Page Tuner</div>
              <div class="text-secondary fs-5 fw-normal">
                pagetuner@example.com
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-5 mb-3">
            <button class="btn bg-white fw-500 shadow-sm text-dark border"
              >Done</button
            >
          </div>
        </div>
      </div>
     
    </div>
  </div>
</LayoutWithoutMenu>
