---
import "../scss/main.scss";
import "@fontsource/poppins";
import 'font-awesome/css/font-awesome.min.css';
import AccordionAstro from "../components/AccordionAstro.astro";
import Header from "../components/common/navbars/Header.jsx";
import SideNav from "../components/common/navbars/SideNav.jsx";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
           
    </head>
    <body>
        <!-- <AccordionAstro title="Title" content="Content" />
        <AccordionAstro title="Title2" content="Content2" /> -->
        <main class="page d-flex flex-column position-relative h-100">          
            <SideNav/>
            <Header/>
            <slot />
          
            </main>
           
     
        <script>
            import "../js/main";
        </script>
       
     
    </body>
</html>
