---
import Layout from "../../layouts/Layout.astro";
import Search from "../../components/team-inbox/common/Search.jsx";
import UserList from "../../components/team-inbox/team-inbox-user-listing/UserListing.jsx";
import UserListingInbox from "../../components/team-inbox/team-inbox-user-listing/UserListingInbox.jsx";
import ChatLeft from "../../components/team-inbox/team-inbox-chat/ChatCustomer.jsx";
import ChatRight from "../../components/team-inbox/team-inbox-chat/ChatSupport.jsx";
import AccordionCustom from "../../components/team-inbox/common/AccordionCustom.jsx";
import Checkbox from "../../components/common/forms/Checkbox.jsx";
import FloatingButton from "../../components/team-inbox/common/FloatingButton.jsx";
import Button from "../../components/common/forms/Button.jsx";
import Input from "../../components/common/forms/Input";
import Select from "../../components/common/forms/SelectBox";
import Radio from "../../components/common/forms/radioButton";
import TicketList from "../../components/team-inbox/common/TicketsListing";
import SideNavRight  from "../../components/common/navbars/SideNavRight";
---

<Layout title="comm chat">
  <div class="wrapper ms-lg-5 ms-md-0 ps-lg-3 ps-md-0 mt-lg-65 mt-md-80 mt-90">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 pe-lg-0">
          <div class="panel-left p-2 p-md-4 pb-5">
            <div
              class="filter-box bg-white rounded-3 shadow-sm p-3 d-flex align-items-center"
            >
              <!-- <div class="select-box text-primary position-relative fw-500 text-decoration-none fs-6 pe-4">
                        New <i class="count h-3 w-3 fst-normal  bg-blue-badge text-white text-center ms-3 d-inline-block rounded-circle">1</i>
                      </div> -->

              <div class="px-0">
                <div class="dropdown more">
                  <a
                    class="select-box pe-4 text-primary"
                    href="#"
                    role="button"
                    id="dropdownMenu"
                    data-bs-toggle="dropdown"
                  >
                    New <i
                      class="count h-3 w-3 fst-normal bg-blue-badge text-white text-center ms-3 d-inline-block rounded-circle"
                      >1</i
                    >
                  </a>

                  <ul
                    class="dropdown-menu mt-4 m-auto w-100 dropdown-filter shadow-sm"
                    aria-labelledby="dropdownMenuLink"
                  >
                    <li>
                      <div class="d-flex flex-row align-items-center p-3">
                        <div class="input-group custom-search-sidebar rounded">
                          <span
                            class="input-group-text border-end-0 bg-white"
                            id="basic-addon1"
                            ><img src="/assets/search-form.svg" />
                          </span>
                          <input
                            type="search"
                            class="form-control bg-white border-start-0"
                            placeholder="Search"
                            aria-label="search"
                            aria-describedby="basic-addon1"
                          />
                        </div>
                      </div>
                    </li>
                    <li>
                      <a class="dropdown-item py-3 px-4" href="#">
                        <span>New</span>
                        <span class="select-box-value float-end p-0">
                          <i
                            class="count d-flex align-items-center justify-content-center h-3 w-3 fst-normal bg-blue-badge text-white text-center ms-3 d-inline-block rounded-circle fs-12"
                            >3</i
                          >
                        </span>
                      </a>
                    </li>

                    <li>
                      <a class="dropdown-item py-3 px-4" href="#">
                        <span>Open</span>
                      </a>
                    </li>

                    <li>
                      <a class="dropdown-item py-3 px-4" href="#">
                        <span>Assigned to me</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item py-3 px-4" href="#">
                        <span>All Assigned</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item py-3 px-4" href="#">
                        <span>Resolved</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item py-3 px-4" href="#">
                        <span> Bot Conversations</span>
                      </a>
                    </li>
                    <li
                      class="border border-bottom-0 border-left-0 border-right-0"
                    >
                    </li>

                    <a
                      id="custom-filter"
                      class="dropdown-item text-center primary-blue mt-1 py-3 px-4"
                      href="#"
                    >
                      <img src="/assets/add-blue.svg" />
                      New custom view
                    </a>
                  </ul>
                </div>
                <!-- custom filter starts -->

                <ul
                  id="custom-filter-box"
                  class="p-4 dropdown-menu dropdown-custom-filter custom-filter-box shadow-sm mt-4 d-none"
                  aria-labelledby="dropdownMenuLink"
                >
                  <div class="form-group form-custom-group">
                    <span class="fw-500 text-dark-blue fs-14 mb-2">
                      New Custom View</span
                    >
                  </div>
                  <Input
                    label="View name"
                    id="name"
                    placeholder="Provide a name to view"
                    type="input"
                  />
                  <Select label="Topic" id="topic" value="Filter by topic" />

                  <div class="form-group mt-4">
                    <label class="text-primary mb-1">Filter by status</label>
                    <div class="d-flex justify-content-between gap-3">
                      <Checkbox title="New" id="new" />
                      <Checkbox title="Assigned" id="assigned" />
                      <Checkbox title="Resolved" id="resolved" />
                    </div>
                  </div>
                  <Select label="Groups" id="group" value="Filter by groups" />
                  <Select
                    label="Agents"
                    id="agents"
                    value="Filter by team member"
                  />

                  <div class="form-group mt-4">
                    <div class="d-flex flex-column gap-2">
                      <Checkbox
                        title="Show 'Away Conversations' only"
                        id="conversation"
                      />
                      <Checkbox
                        title="Share this view with your team"
                        id="share"
                      />
                    </div>
                  </div>
                  <div class="form-group d-flex gap-3 mt-4">
                    <button
                      class="btn bg-black d-flex align-items-center text-white w-100 justify-content-center"
                      ><span>Save</span>
                    </button>
                    <button
                      class="btn border border-1 rounded px-2 py-3 d-flex align-items-center justify-content-center me-3 w-100"
                    >
                      cancel</button
                    >
                  </div>
                </ul>
                <!--custom filter ends -->
              </div>

              <div class="ms-auto me-3">
                <ul
                  class="switcher h-4 w-10 d-flex align-items-center justify-content-between rounded-pill p-1 bg-cyan-blue"
                >
                  <li class="active">
                    <a
                      data-bs-toggle="tooltip"
                      data-bs-title="tooltip"
                      data-bs-placement="top"
                      class="d-block h-5 w-5 text-center rounded-circle"
                      href="#"
                      ><img src="/assets/bag.svg" />
                    </a>
                  </li>
                  <li>
                    <a
                      data-bs-toggle="tooltip"
                      data-bs-title="Priority inbox"
                      data-bs-placement="top"
                      class="d-block h-5 w-5 text-center rounded-circle"
                      href="#"
                      ><img src="/assets/bag-in.svg" />
                    </a>
                  </li>
                </ul>
              </div>

              <!--menu filter starts -->
              <div
                class="dropdown more"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Filter"
                data-bs-original-title="Filter"
                aria-label="Filter"
              >
                <div
                  id="filter-button"
                  class="filter-round d-flex align-items-center justify-content-center flex-direction-column rounded-circle p-1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                </div>

                <ul
                  class="dropdown-menu dropdown-response-filter p-4 mt-2 ms-3"
                  id="dropdown-response-filter"
                  aria-labelledby="dropdownMenuLink"
                >
                  <div class="form-group">
                    <div class="d-flex flex-column gap-2">
                      <Checkbox title="First Response" id="first-response" />
                      <Checkbox title="Response Due" id="Response Due" />
                      <Checkbox title="No Response Due" id="No Response Due" />
                    </div>
                  </div>
                </ul>
              </div>
              <!-- menu filter ends -->

              <!-- right section responsive view starts-->
              <div class="dropdown more">
                <div
                  class="d-block d-lg-none bg-cyan-blue d-flex align-items-center justify-content-center flex-direction-column rounded-circle p-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img src="/assets/mobile-filter.svg" />
                  <div
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Filter"
                    data-bs-original-title="Filter"
                    aria-label="Filter"
                  >
                  </div>
                </div>

                <ul
                  class="dropdown-menu dropdown-response-filter p-4 mt-2"
                  id="dropdown-response-filter"
                  aria-labelledby="dropdownMenuLink"
                >
                  <div class="form-group">
                    <div class="d-flex flex-column gap-2"></div>
                  </div>
                </ul>
              </div>
              <!-- right section responsive view ends-->
            </div>
            <!--/.filter-box-->
            <!-- custom search starts -->
            <Search />
            <!--/.custom_search ends-->
            <div class="inbox-wrapper rounded bg-white mt-3">
              <!-- chat listing -->
              <UserListingInbox
                borderColor="whatsapp"
                active="inactive"
                title="Paige Turner"
                subtitle="Welcome to gsoftcomm..."
                time="1 Min ago"
                username="Page-tuner"
                socialMedia="/assets/whatsapp.svg"
              />
              <UserListingInbox
                borderColor="fb"
                active="active"
                title="Amanda Hug"
                subtitle="Welcome to gsoftcomm..."
                time="2 Min ago"
                username="Amanda123"
                socialMedia="/assets/facebook.svg"
              />
              <UserListingInbox
                borderColor="whatsapp"
                active="inactive"
                title="Elieen Dover"
                subtitle="Welcome to gsoftcomm..."
                time="5 Min ago"
                username="Elieen_dove"
                socialMedia="/assets/whatsapp.svg"
              />
            </div>
          </div><!--/-panel-left-->
          <div class="loading text-center">
            <div
              class="spinner-border text-vampire-gray text-loader spinner-border-sm"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div> Loading more conversations
          </div>
        </div>
        <!--/.col-3-->

        <div class="col-lg-9 ps-lg-0">
          <div class="row h-100">
            <div class="col-12 pe-4">
              <div class="row content-area mt-4">
                <div id="chat-expand" class="col-lg-8">
                  <div class="panel-center shadow-sm bg-white rounded">
                    <div
                      class="panel-center-box shadow-sm rounded-top bg-white d-flex flex-wrap align-items-center p-3 justify-content-between"
                    >
                      <Button
                        client:load
                        option={1}
                        bgColor="light-blue"
                        textColor="light-dark"
                        btnImage="/assets/avatar.jpg"
                        btnName="Amanda_hug"
                      />

                      <div class="d-flex align-items-center">
                        <!-- Assign to an agent -->
                        <div class="dropdown more">
                          <button
                            class="btn border border-1 rounded px-2 py-3 d-flex align-items-center me-3 pulse"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="me-2"><img src="/assets/agent.svg" /></i>
                            Assign to agent</button
                          >

                          <ul
                            id="agent-wrap"
                            class="dropdown-menu agent-dropdown p-4 ps-4 mt-2 w-min-60"
                            id="dropdown-assign-agent"
                            aria-labelledby="dropdownMenuLink"
                          >
                            <div class="agent-assign-box">
                              <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                  <!-- select a group -->
                                  <div class="agent-group">
                                    <div
                                      class="d-flex justify-content-between align-items-center mb-3"
                                    >
                                      <div
                                        class="agent-head text-primary fw-500"
                                      >
                                        Select a group
                                      </div>
                                      <div class="settings-box">
                                        <img
                                          src="/assets/settings-agent-icon.svg"
                                          alt=""
                                        />
                                      </div>
                                    </div>

                                    <li class="agent-list">
                                      <div
                                        class="d-flex flex-row align-items-center"
                                      >
                                        <div class="input-group">
                                          <span
                                            class="input-group-text border-end-0 bg-white"
                                          >
                                            <a href="#"
                                              ><img
                                                src="/assets/search-form.svg"
                                              />
                                            </a>
                                          </span>
                                          <input
                                            type="text"
                                            class="form-control search-input border-start-0 bg-white"
                                            placeholder="Search "
                                          />
                                        </div>
                                      </div>
                                    </li>
                                    <div class="agent-group-list">
                                      <Radio id="account" title="Account" />
                                      <Radio
                                        id="customerSupport"
                                        title="Customer Support"
                                      />
                                      <Radio
                                        id="escalations"
                                        title="Escalations"
                                      />
                                      <Radio
                                        id="forerunGroup"
                                        title="Forerun group"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                  <!-- select an agent -->
                                  <div class="agent-group">
                                    <div
                                      class="d-flex justify-content-between align-items-center mb-3"
                                    >
                                      <div
                                        class="agent-head text-primary mt-3 mt-lg-0 fw-500"
                                      >
                                        Select an agent
                                      </div>
                                      <div class="settings-box">
                                        <img
                                          src="/assets/settings-agent-icon.svg"
                                          alt=""
                                        />
                                      </div>
                                    </div>

                                    <li class="agent-list">
                                      <div
                                        class="d-flex flex-row align-items-center"
                                      >
                                        <div class="input-group">
                                          <span
                                            class="input-group-text border-end-0 bg-white"
                                          >
                                            <a href="#"
                                              ><img
                                                src="/assets/search-form.svg"
                                              />
                                            </a>
                                          </span>
                                          <input
                                            type="text"
                                            class="form-control search-input border-start-0 bg-white"
                                            placeholder="Search "
                                          />
                                        </div>
                                      </div>
                                    </li>
                                    <div class="agent-group-list">
                                      <Radio id="user1" title="William Stock" />
                                      <Radio id="user2" title="Johny Sam" />
                                      <Radio
                                        id="user3"
                                        title="Mervin Stephen"
                                      />
                                      <Radio id="user4" title="Kevin William" />
                                    </div>
                                  </div>

                                  <div class="scrollbar" id="style-2">
                                    <div class="force-overflow"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>

                        <!-- assign to an agent ends-->

                        <!-- Resolve / create a ticket starts -->

                        <div class="dropdown more">
                          <button
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            class="btn bg-black d-flex align-items-center text-white"
                            ><i class="me-2"
                              ><span
                                ><img
                                  class="rounded-circle"
                                  src="/assets/check.svg"
                                  width="22"
                                  height="22"
                                  alt="# "
                                />
                              </span>
                            </i><span>Resolve</span>
                          </button>
                          <ul
                            class="dropdown-menu dropdown-resolve mt-2"
                            aria-labelledby="dropdownMenuLink"
                          >
                            <li>
                              <a class="dropdown-item py-2 px-4" href="#"
                                >Resolve</a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="dropdown-item py-2 px-4"
                                data-bs-toggle="modal"
                                data-bs-target="#resolveModal"
                                >Resolve & Create Ticket</a
                              >
                            </li>
                          </ul>
                        </div>

                        <!-- Resolve / create a ticket ends -->
                      </div>
                    </div>
                    <!--/.panel-center-box-->
                    <div class="chat-wrapper p-2 p-md-4">
                      <div class="chat-section">
                        <div class="chat-section-chat-area">
                          <ChatLeft
                            userName="Amanda Hug"
                            time="18:15"
                            chatCustomer="Hello! Finally found the time to write to you) I need your help in creating interactive animations"
                          />
                          <ChatRight
                            userName="Steven Paul"
                            time="18:20"
                            chatSupport="Sure I will assist you"
                          />

                          <div class="time-break position-relative my-4">
                            <span
                              class="bg-white text-secondary fs-6 position-absolute px-3"
                              >Today</span
                            >
                          </div>
                          <ChatLeft
                            userName="Amanda Hug"
                            time="18:25"
                            chatCustomer="Thank you"
                          />

                          <div class="chat-right">
                            <div class="d-flex align-items-start">
                              <div
                                class="chat-cvr d-flex align-items-end w-100 justify-content-end"
                              >
                                <div class="d-flex flex-column align-items-end">
                                  <span
                                    class="text-mist-gray text-secondary d-block ps-4"
                                  >
                                    <span
                                      class="tick h-3 w-3 d-inline-block me-1"
                                    ></span> Steven Paul, 18:00</span
                                  >
                                  <div
                                    class="d-flex w-100 justify-content-end align-items-center mt-2"
                                  >
                                    <div
                                      class="chat-border bg-cyan-blue p-3 d-flex flex-column gap-2 mb-1"
                                    >
                                      <div
                                        class="chat-calendar d-flex align-items-center gap-3"
                                      >
                                        <div>
                                          <img
                                            src="/assets/chat-calendar.svg"
                                            alt=""
                                          />
                                        </div>
                                        <div class="d-flex flex-column gap-2">
                                          <div class="text-primary fw-500">
                                            Calendar sent
                                          </div>
                                          <div class="text-secondary">
                                            Calendar link shared
                                          </div>
                                        </div>
                                      </div>
                                      <div class="d-flex flex-row">
                                        <div>
                                          <a
                                            class="fw-500"
                                            href="https://meeting.google.in.calendar"
                                            >https://meeting.google.in.calendar</a
                                          >
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="chat-left">
                            <div class="d-flex flex-row chat-flex">
                              <div class="user-ico-div rounded-circle">
                                <div
                                  class="h-4 w-4 d-flex align-items-center justify-content-center rounded-circle bg-light-grey me-1"
                                >
                                  <svg
                                    width="12"
                                    height="11"
                                    viewBox="0 0 12 11"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M0.779298 3.99813C0.779022 3.58682 0.859885 3.1795 1.01725 2.79948C1.17462 2.41947 1.40541 2.07423 1.69639 1.78354C1.98738 1.49284 2.33285 1.2624 2.71302 1.10541C3.09319 0.948425 3.5006 0.86797 3.91191 0.868657H8.08872C9.81844 0.868657 11.2213 2.27572 11.2213 3.99813V10.2665H3.91191C2.18218 10.2665 0.779298 8.85942 0.779298 7.13701V3.99813ZM7.04452 5.04547V6.08967H8.08872V5.04547H7.04452ZM3.91191 5.04547V6.08967H4.95611V5.04547H3.91191Z"
                                      fill="#4B4A60"></path>
                                  </svg>
                                </div>
                              </div>
                              <div class="d-flex flex-column pt-1">
                                <div class="name">Amanda Hug, 18:15</div>
                                <div class="d-flex mt-2 align-items-start">
                                  <div
                                    class="chat-cvr d-flex align-items-start flex-column w-100"
                                  >
                                    <div
                                      class="chat-border bg-chat-blue p-3 d-flex flex-column align-items-end gap-2 mb-1"
                                    >
                                      <div
                                        class="chat-calendar d-flex align-items-start gap-3"
                                      >
                                        <div>
                                          <img
                                            src="/assets/chat-calendar.svg"
                                            alt=""
                                          />
                                        </div>
                                        <div class="d-flex flex-column gap-2">
                                          <div class="text-primary fw-500">
                                            Meeting confirmed!
                                          </div>
                                          <div class="text-secondary">
                                            <span class="text-secondary"
                                              >October</span
                                            >
                                            <span class="text-primary fw-500"
                                              >31, 2022</span
                                            >
                                            <br /><span
                                              class="text-primary fw-500"
                                              >08:00 am,</span
                                            >
                                            <span class="text-secondary"
                                              >15 minutes</span
                                            >
                                          </div>
                                          <div>
                                            <a href="# ">Open google calendar</a
                                            >
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="chat-right">
                            <div class="d-flex align-items-start">
                              <div
                                class="chat-cvr d-flex align-items-end w-100 justify-content-end"
                              >
                                <div class="d-flex flex-column align-items-end">
                                  <span
                                    class="text-mist-gray text-secondary d-block ps-4"
                                  >
                                    <span
                                      class="tick h-3 w-3 d-inline-block me-1"
                                    ></span> Private note send by Steven Paul, 18:00</span
                                  >

                                  <div
                                    class="d-flex w-100 justify-content-end align-items-center mt-2"
                                  >
                                    <div
                                      class="chat-border bg-light-yellow p-3 d-flex flex-column gap-2 mb-1"
                                    >
                                      <div
                                        class="chat-calendar d-flex align-items-center gap-3"
                                      >
                                        <div
                                          class="d-flex align-items-center justify-content-center rounded bg-dark-yellow h-6 w-6"
                                        >
                                          <img
                                            class="h-3 w-3"
                                            src="/assets/pvt-note.svg"
                                            alt="# "
                                          />
                                        </div>

                                        <div class="d-flex flex-column gap-2">
                                          <div class="text-primary">
                                            Lorem ipsum dolor sit amet,
                                            consectetur<br /> adipiscing elit. Quisque
                                            sit amet vulputate<br /> lacus.
                                            <a href="#">Read more</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-center mt-4"
                          >
                            <div
                              class="chat-notify-msg d-flex align-items-center justify-content-center rounded-pill bg-dark w-20 p-2"
                            >
                              <a class="text-white" href="#">1 New message</a>
                            </div>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-center mt-4"
                          >
                            <div>
                              Conversation was resolved by <span
                                class="text-primary fw-500">Steven Paul,</span
                              > 12.00 AM <a href="#"> Add label</a>
                            </div>
                          </div>

                          <div
                          class="d-flex align-items-center justify-content-center mt-4"
                        >
                         
                            <div>Ticket created for the conversation <a class="fw-500" href="#">#EBAP-1234</a>, 12.00 AM
                            </div>
                            </div>

                          <div class="text-center text-disable mt-4 mb-2">
                            <svg
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M9 15.75C12.7279 15.75 15.75 12.7279 15.75 9C15.75 5.27208 12.7279 2.25 9 2.25C5.27208 2.25 2.25 5.27208 2.25 9C2.25 12.7279 5.27208 15.75 9 15.75Z"
                                stroke="#76787A"
                                stroke-Width="1.5"
                                stroke-Linecap="round"
                                stroke-Linejoin="round"></path>
                              <path
                                d="M8.4375 8.4375H9V12.375H9.5625"
                                stroke="#76787A"
                                stroke-Width="1.5"
                                stroke-Linecap="round"
                                stroke-Linejoin="round"></path>
                              <path
                                d="M8.85938 6.60938C9.2477 6.60938 9.5625 6.29458 9.5625 5.90625C9.5625 5.51792 9.2477 5.20312 8.85938 5.20312C8.47105 5.20312 8.15625 5.51792 8.15625 5.90625C8.15625 6.29458 8.47105 6.60938 8.85938 6.60938Z"
                                fill="#76787A"></path>
                            </svg>
                            Current chat window will expires in 24 hours
                          </div>
                        </div>
                      </div>

                      <div class="chat-control-box rounded bg-white">
                        <textarea
                          class="form-control border-0 rounded-2 bg-white p-3 p-lg-4"
                          placeholder="‘Shift + Enter’ to add a new line; Start with 'Shift + #' to select a Stored Response"
                        ></textarea>
                        <div class="control d-flex p-2 p-sm-4">
                          <FloatingButton />

                          <div class="ms-auto">
                            <ul class="d-flex align-items-center">
                              <li class="me-4">
                                <button
                                  class="btn bg-light-yellow rounded-pill d-flex align-items-center pulse"
                                >
                                  <div
                                    class="me-2 send-with-lock position-relative"
                                  >
                                    <img src="/assets/send.svg" /><span
                                      class="lock"
                                      ><img src="/assets/lock.svg" />
                                    </span>
                                  </div>
                                  <span class="d-none d-sm-block"
                                    >Send as private note</span
                                  >
                                </button>
                              </li>
                              <li class="me-3">
                                <a href="#" class=""
                                  ><i class="me-2"
                                    ><img src="/assets/Smile-icon.svg" />
                                  </i>
                                </a>
                              </li>
                              <li>
                                <a
                                  href="#"
                                  data-bs-toggle="tooltip"
                                  data-bs-title="Send message"
                                  data-bs-placement="top"
                                  class="send h-5 w-5 d-flex align-items-center justify-content-center bg-black text-center rounded-circle shadow-sm pulse"
                                  ><img src="/assets/send-w.svg" />
                                </a>
                              </li>
                            </ul>
                          </div>
                          <!-- <div class="position-relative ">
                          <div id="stored-response-float" class="bg-white w-min-70 collapse floating-box">
                            <ul id="sr-menu" class=" sr-menu">
                              <div class="sr-box p-4 " id="stored-procedure-details">
          
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                  <div class="sr-head">Stored Responses</div>
                                  <div class="settings-box">
                                    <img src="/assets/settings-agent-icon.svg" alt="" />
                                  </div>
                                </div>
          
                                <li class="mb-4">
                                  <div class="d-flex flex-row align-items-center">
                                    <div class="input-group ">
                                      <span class="input-group-text sr-group-text border-end-0 search-widget">
                                        <img src="/assets/search-form.svg"/></span>
                                      <input type="search" class="form-control sr-input border-start-0"
                                        placeholder="Search stored responds "/>
          
                                    </div>
                                  </div>
                                </li>
                                <div class="sr-list-box">
                                  <li class="sr-list">
                                    <div>
          
                                      <img class="me-2" src="assets/sr-message.svg" alt="" />
                                      General
          
                                    </div>
                                    <div><img src="/assets/sr-right-arrow.svg" /></div>
                                  </li>
                                  <li class="sr-line"></li>
                                  <li class="sr-list">
                                    <div>
          
                                      <img class="me-2" src="/assets/sr-message.svg" alt="" />
                                      Custom Responses (2)
                                    </div>
                                    <div><img src="/assets/sr-right-arrow.svg" /></div>
                                  </li>
          
          
          
                                </div>
          
                              </div>
                            </ul>
                          </div>
                        </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="right-section" class="col-lg-4">
                  <!-- hide content -->
                  <div class="panel-right">
                    <!--/.user details box-->
                    <div
                      class="card box-grey overflow-hidden card p-4 bg-white border-0 shadow-sm mb-3 rounded position-relative mb-3"
                    >
                      <div class="collapseicon-right position-absolute">
                        <a id="collapse-right" href="#"
                          ><img src="/assets/preview.svg" />
                        </a>
                      </div>
                      <div
                        class="d-flex flex-column align-items-center mb-4 text-center"
                      >
                        <div class="ps-3 w-100">
                          <div
                            class="d-flex flex-column align-items-center gap-3"
                          >
                            <div class="d-flex flex-column">
                              <div class="card-round">
                                <div class="card-round">
                                  <div class="avatar h-12 w-12 d-inline-flex align-items-center justify-content-center text-center text  text-uppercase bg-light-blue rounded-circle position-relative fs-3 "></div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <span
                                class="card-name fs-6 d-block fw-500 text-primary"
                                >Gsoftcomm</span
                              >
                              <span class="text-gray-medium fs-6 d-block mt-2"
                                ><a href="#"
                                  ><i class="me-1"
                                    ><img src="/assets/location.svg" />
                                  </i>
                                </a>Location</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center my-3">
                        <i class="me-2"><img src="/assets/mail.svg" /></i>
                        <a href="#">name@example.com</a>
                      </div>
                      <div class="d-flex align-items-center">
                        <i class="me-2"><img src="/assets/call.svg" /></i>
                        <a href="#" class="text-primary fw-500">+1 6573456228</a>
                      </div>
                      <div
                        class="box-grey-footer bg-white rounded d-flex align-items-center p-3 mt-3"
                      >
                        <span
                          ><label class="text-secondary">Identifier:</label> 74474012152860</span
                        >
                        <a href="#" class="ms-auto"
                          ><img src="/assets/duplicate.svg" />
                        </a>
                      </div>
                    </div>
                    <!--/.user details box-->
                    <!-- Accordion box -->

                    <AccordionCustom
                      image="/assets/chat-image.svg"
                      title="Chat Update"
                      id="accordionChat"
                      parent="#accordionChat"
                      collapseId="chatUpdate"
                      collapseTarget="#chatUpdate"
                    >
                      <!-- Accordion box -->
                      <a
                        href="#"
                        class="text-contrast-blue fs-12 fw-normal bg-transparent align-items-center rounded-pill py-1 px-2 chat-widget bg-white"
                      >
                        <i
                          ><img
                            class="me-2"
                            src="/assets/facebook.svg"
                          />
                        </i>Amanda_hug
                      </a>
                      <span class="d-block my-2 mt-4"
                        ><label class="text-primary">Last Seen:</label><span
                          class="text-secondary"
                        >
                          13/03/2022 11:31 AM</span
                        >
                      </span>
                      <span class="d-block my-2"
                        ><label class="text-primary">Created on:</label>
                        <span class="text-secondary">13/03/2022 11:31AM</span>
                      </span>
                    </AccordionCustom>

                    <AccordionCustom
                      image="/assets/help-desk.svg"
                      title="Support desk"
                      id="accordionSupport"
                      parent="#accordionSupport"
                      collapseId="chatSupport"
                      collapseTarget="#chatSupport"
                    >
                      <a
                        href="#"
                        class="d-flex align-items-center text-blue-badge"
                        ><i class="me-2"
                          ><img src="/assets/create-tckt.svg" />
                        </i> Create Ticket</a
                      >

                      <div class="p-3 rounded-3 mt-4 bg-titan-white">
                        <div class="d-flex  align-items-center">
                          <div><img class="me-3" src="/assets/help-support.svg"></div>
                          <div class="d-flex flex-column gap-2">
                            <div class="fw-500">T12345 </div>
                            <div>Conversation with Paige Turner</div>
                          </div>
                        </div>
                        <div class="mt-3">
                          <span class="d-block my-2"><label class="text-secondary">Created on:</label><span class="text-primary">12/03/2022 11:31AM</span> </span>
                          <span class="d-block my-2"><label class="text-secondary">Due in:</label> <span class="text-primary">13/03/2022 11:31AM</span></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4">
                          <span class="rounded-3 fw-semibold text-uppercase py-2 px-2 fs-11 d-flex align-items-center justify-content-center bg-hawkes-blue text-royal-blue">Open</span>
                          <a href="#"> <span class="text-secondary"><i class="me-1"><img src="/assets/no-agent-icon.svg"></i>
                              No agent</span></a>


                        </div>
                      </div>
                    </AccordionCustom>

                    <AccordionCustom
                    image="/assets/side-messages.svg"
                    title="Recent conversations"
                    id="accordionConversation"
                    parent="#accordionConversation"
                    collapseId="recentConversation"
                    collapseTarget="#recentConversation"
                  >
                   
                    <a
                      href="#"
                      class="text-contrast-blue fs-12 fw-normal bg-transparent align-items-center rounded-pill py-1 px-2 chat-widget bg-white"
                    >
                      <i
                        ><img
                          class="me-2"
                          src="/assets/facebook.svg"
                        />
                      </i>Amanda_hug
                    </a>
                    <span class="d-block my-2 mt-4"
                      >
                      Conversation with 
                      <a class="fw-500" href="#">Paige Turner</a> 
                    </span>
                    <span class="d-block my-2"
                      ><label class="text-primary">Duration: </label>
                      <span class="text-secondary">10 minutes</span>
                    </span>
                    <div class="d-flex mt-2">
                      <span class="rounded-3 fw-semibold text-uppercase py-2 px-2 fs-11 d-flex align-items-center justify-content-center bg-hawkes-blue text-royal-blue">Open</span>
                    </div>
                  </AccordionCustom>
                  <AccordionCustom
                  image="/assets/device.svg"
                  title="Device properties"
                  id="accordionDevice"
                  parent="#accordionDevice"
                  collapseId="device"
                  collapseTarget="#device"
                >
                  <!-- Accordion box -->
                 
                    <span class="d-block my-2"><label class="text-secondary">OS: </label><span class="text-primary">Web</span> </span>
                    <span class="d-block my-2"><label class="text-secondary">Browser: </label> <span class="text-primary">Chrome</span></span>
                    <span class="d-block my-2"><label class="text-secondary">Browser version:
                      </label> <span class="text-primary">103.0.0.0</span></span>
                    <span class="d-block my-2"><label class="text-secondary">Device: </label> <span class="text-primary">Desktop</span></span>
                 
                </AccordionCustom>

                <AccordionCustom
                image="/assets/sidebar-timeline.svg"
                title="Timeline"
                id="accordionTimeline"
                parent="#accordionTimeline"
                collapseId="timeline"
                collapseTarget="#timeline"
              >
                <!-- Accordion box -->
               
                <div class="sidebar-timeline">
                  <div class="user-timeline  user-date">
                    <div class="user-action p-3">

                    </div>
                  </div>
                  <div class="user-timeline user-history">
                    <div class="user-action p-1">
                      <div class="dark-charcoal">Sign into gsoftcomm</div>
                      <div class="santa-grey">5:30pm</div>

                    </div>
                  </div>

                  <div class="user-timeline user-history">
                    <div class="user-action  p-1">

                      <div class="dark-charcoal">Sign into gsoftcomm</div>
                      <div class="santa-grey">5:30pm</div>


                    </div>
                  </div>
                  <div class="user-timeline  user-date">
                    <div class="user-action p-3">

                    </div>
                  </div>
                  <div class="user-timeline user-history user-history-end">
                    <div class="user-action  p-1">
                      <div class="dark-charcoal">Ticket has  </div>
                      <div class="santa-grey">5:30pm</div>

                    </div>
                  </div>
                </div>
              </AccordionCustom>
              <AccordionCustom
              image="/assets/chat-transcript.svg"
              title="Chat transcript"
              id="accordionTranscript"
              parent="#accordionTranscript"
              collapseId="ChatTranscript"
              collapseTarget="#ChatTranscript"
            >
              <!-- Accordion box -->
             
                <div class="d-block mb-4"><label>Agent Steven Paul has joined the conversation</label> </div>
                <span class="mb-3 w-10 rounded-pill  text-uppercase py-2 px-2 fs-11 d-flex align-items-center justify-content-center bg-hawkes-blue text-royal-blue">05:13:20</span>
                <span class="d-block mb-4"><label><span class="text-primary fw-500">Paige Turner:</span>
                    Hello! Finally found the time to write to you) I need your help in creating interactive
                    animations
                  </label> </span>
                  
                  <span class="mb-3 w-10 rounded-pill  text-uppercase py-2 px-2 fs-11 d-flex align-items-center justify-content-center bg-hawkes-blue text-royal-blue">05:00:20</span>
               
                <span class="d-block mb-4"><label><span class="text-primary fw-500">Paige Turner:</span>
                    Can I send you files?
                  </label> </span>
                  <span class="mb-3 w-10 rounded-pill  text-uppercase py-2 px-2 fs-11 d-flex align-items-center justify-content-center bg-hawkes-blue text-royal-blue">04:13:20</span>
                <span class="d-block mt-4"><a href="#">The visitor has left the conversation</a></span>
                <span class="d-block mb-3 mt-3 text-orange">The conversation is ended (05:19:50)</span>
             
              
            </AccordionCustom>
                  </div>
                </div>
                <!-- hide content -->
                <!-- new side bar starts -->

                <div id="collapsed-sidebar" class="col-lg-1 d-none">
                  <SideNavRight />
                
                </div>
                <!-- new side bar starts -->
              </div>
            </div>
          </div>
        </div>
        <!--/.col--9-->
      </div>
    </div>
  </div>

  <!-- Resolve Modal -->
  <div class="modal resolve-modal" id="resolveModal">
    <div
      class="modal-dialog modal-dialog-right fadeInRight animated ml-auto modal-custom-dialog"
    >
      <div class="modal-content p-3">
        <!-- Modal Header -->
        <div class="modal-header border-0">
          <h4 class="modal-title fw-500 text-primary fs-5">
            Resolve & Create Ticket in Support desk
          </h4>

          <a href="#" type="button" class="btn-close" data-bs-dismiss="modal"
          ></a>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="d-flex flex-wrap">
            <p class="fs-6 text-secondary">
              Choose to either save as a new Support Desk ticket or append it to
              an existing ticket
            </p>
          </div>

          <Select label="Select label" id="selectlabel" value="Choose label" />

          <div class="tab-ticket mt-5">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="w-min-34 nav-link rounded-0 p-2 text-primary nav-resolve-tab border-end-0 rounded-start active"
                  id="pills-ticket"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-new-ticket"
                  type="button"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true">Save as new ticket</button
                >
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="w-min-34 nav-link rounded-0 p-2 text-primary nav-resolve-tab border-start-0 rounded-end"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-ext-ticket"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false">Append to existing ticket</button
                >
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-new-ticket"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
                <Select
                  label="Subject"
                  id="Subject"
                  value="Type conversation subject"
                />

                <Select
                  label="Subject"
                  id="Subject"
                  value="Type conversation subject"
                />

                <!-- <div class="form-group form-custom-group">
                  <label class="mt-1" for="assign">Tags </label>
                  <select id="select_group" class="js-select2 form-control form-custom-control" multiple="multiple">

                    <option value="O1" selected data-badge="">First week </option>
                    <option value="O2" selected data-badge="">New</option>

                  </select>
                </div> -->
              </div>
              <div
                class="tab-pane fade"
                id="pills-ext-ticket"
                role="tabpanel"
                aria-labelledby="pills-profile-tab"
              >
                <div class="existing-tickets">
                  <h5 class="text-secondary fs-6">
                    Select existing tickets to append
                  </h5>
                  <!-- ticket listing -->
                  <TicketList
                    ticketNumber="TC1AP9234"
                    userName="Paige Turner"
                    createdDate="20th Jun 2022"
                    dueDate="23rd Jun 2022"
                    priority="low"
                    bg="hawkes-blue"
                    textColor="slate-blue"
                  />

                  <TicketList
                    ticketNumber="TC1AP9234"
                    userName="Paige Turner"
                    createdDate="20th Jun 2022"
                    dueDate="23rd Jun 2022"
                    priority="low"
                    bg="moody-blue"
                    textColor="white"
                  />

                  <!-- ticket listing -->
                </div>

                <div class="form-group mt-3">
                  <label for="assign">Tags</label>
                  <select
                    class="js-select3 form-control form-custom-control"
                    multiple="multiple"
                  >
                    <option value="O1" selected data-badge=""
                      >First week
                    </option>
                    <option value="O2" selected data-badge="">New</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer d-flex justify-content-start border-0">
          <button
            type="button"
            class="btn bg-black d-flex align-items-center text-white me-3"
            >Save</button
          >
          <button
            type="button"
            class="btn bg-white fw-500 text-dark border"
            data-bs-dismiss="modal">Cancel</button
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
